.publicity__card{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.publicity__card_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.publicity__card_content-title{
    font-family: var(--font-family-title);
    font-size: var(--font-size-title);
    font-weight: bold;
    text-align: left;
}

.publicity__card_content-subtitle{
    font-family: var(--font-family-title);
    font-size: var(--font-size-subtitle);
    text-align: left;
}

.publicity__card-img{
    height: 550px;
    width: 450px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
/* ----------------------------------------- */
.card__course{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 250px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: var(--third-color);
}

.card__course-image{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0 0;
}

.card__course-content{
    height: 40%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card__course-content-subtitle{
    font-size: var(--font-size-card_course-secondary);
    font-weight: 700;
}

.card__course-content-title{
    text-align: justify;
    font-size: var(--font-size-card_course-primary);
    font-weight: 700;
}
.card__course-content_duration{
    display: flex;
    margin-top: 10px;
    gap: 5px;
    align-items: center;
}
.card__course-content_duration-subtitle{
    font-size: var(--font-size-card_icon);
}
.card__course-content_duration .fa-regular{
    font-size: var(--font-size-card_icon);
}